@using Students_Interest_System.Models
@model List<Student>
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.7.0/dt-1.13.8/b-2.4.2/fc-4.3.0/sc-2.3.0/sb-1.6.0/sp-2.2.0/sl-1.7.0/datatables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js" />
    <link href="https://cdn.jsdelivr.net/npm/fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

    @if (TempData["message"] != null)
    {
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript">
            toastr.success('@TempData["added"]');
        </script>
    }
    <title>All Students</title>
</head>
<body>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <a asp-action="Dashboard" class="btn btn-info">Dashboard</a>
            </div>
            <div class="col-md-4 text-center">
                <h1 class="text-info">All Students</h1>
            </div>
            <div class="col-md-4">
                <a asp-action="StudentForm" class="btn btn-success float-md-end">Add Student</a>
                <a href="@Url.Action("Logout", "Student") class="btn btn-success">Logout</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend" style="padding:2px;">
                        <label class="input-group-text" for="pageSize">Page Size:</label>
                    </div>
                    <select id="pageSize" class="custom-select" style="padding:8px; background-color:#c7d7dc">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <table id="AllStudentsTable" class="table table-success table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Roll No</th>
                            <th>Gender</th>
                            <th>City</th>
                            <th>Email</th>
                            <th>DOB</th>
                            <th>Interest</th>
                            <th>Department</th>
                            <th>Degree</th>
                            <th>Subject</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Student i in Model)
                        {
                            <tr>
                                <td>@i.ID</td>
                                <td>@i.Name</td>
                                <td>@i.RollNo</td>
                                <td>@i.Gender</td>
                                <td>@i.City</td>
                                <td>@i.Email</td>
                                <td>@i.DOB</td>
                                <td>@i.Interest</td>
                                <td>@i.Department</td>
                                <td>@i.Degree</td>
                                <td>@i.Subject</td>
                                <td>@i.Start</td>
                                <td>@i.End</td>
                                <td>
                                    <div class="btn-group">
                                        <a asp-action="Details" class="btn btn-secondary group-btn" asp-route-id="@i.ID">View</a>
                                        <a asp-action="Edit" class="btn btn-secondary group-btn" asp-route-id="@i.ID"> Edit</a>
                                        <a asp-action="Delete" class="btn btn-secondary group-btn" asp-route-id="@i.ID">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div class="pagination">
                    <ul class="pagination">
                        <li class="page-item"><a id="firstPage" class="page-link" href="#">&lt;&lt;</a></li>
                        <li class="page-item"><a id="prevPage" class="page-link" href="#">&lt;</a></li>
                        <li class="page-item"><span id="pageInfo" class="page-link"></span></li>
                        <li class="page-item"><a id="nextPage" class="page-link" href="#">&gt;</a></li>
                        <li class="page-item"><a id="lastPage" class="page-link" href="#">&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.datatables.net/v/bs4-4.6.0/jq-3.7.0/dt-1.13.8/b-2.4.2/fc-4.3.0/sc-2.3.0/sb-1.6.0/sp-2.2.0/sl-1.7.0/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            var pageSize = 10;
            var dataTable = $('#AllStudentsTable').DataTable({
                "scrollY": "450px",
                "scrollCollapse": true,
                "paging": true,
                "lengthChange": false,
                "pageLength": pageSize,
                "responsive": true,
            });
            $('#pageSize').on('change', function () {
                pageSize = parseInt($(this).val());
                dataTable.page.len(pageSize).draw();
                updatePageInfo();
            });
            $('#firstPage').on('click', function () {
                dataTable.page('first').draw('page');
                updatePageInfo();
            });
            $('#prevPage').on('click', function () {
                dataTable.page('previous').draw('page');
                updatePageInfo();
            });
            $('#nextPage').on('click', function () {
                dataTable.page('next').draw('page');
                updatePageInfo();
            });

            $('#lastPage').on('click', function () {
                dataTable.page('last').draw('page');
                updatePageInfo();
            });

            dataTable.on('draw', function () {
                updatePageInfo();
            });

            updatePageInfo();

            function updatePageInfo() {
                var pageInfo = dataTable.page.info();
                var currentPage = Math.floor(pageInfo.start / pageSize) + 1;
                var totalPages = Math.ceil(pageInfo.recordsTotal / pageSize);
                $('#pageInfo').text('Page ' + currentPage + ' of ' + totalPages);
            }
        });

    </script>

</body>
</html>
